h1 {
    font-size: 24px;
    color: #38B2AC;
}

h2 {
    font-size: 21px;
    color: #5A67D8;
}

p {
    font-size: 18px;
}

/* Image styling */
img {
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}
